// This file should contain all colors and fonts used

// colors
$kiwi-color: #c8c10d;
$white-color: #fff;
// $lightGrey-color: #eeebec;
$lightGrey-color: #eae7e8;
$darkGrey-color: #7a6666;
$magenta-color: #e32a62;

// fonts

$mainHeading-font: lato-regular-webfont;
$mainArticleH1-font: lato-bold-webfont;
$mainArticleH2-font: magra-bold-webfont;

