@import './settings';

%contain {
  max-width: 960px;
  margin: 0px auto;
}

body {
  margin: 0;
  padding: 0;

  background-color: #f8f8f8;

  & > header {
    padding: 41px 10px 27px;
    background-color: $lightGrey-color;

    & .wrapper {
      @extend %contain;

      display: flex;
      flex-flow: row nowrap;
      .spacer {
        flex-grow: 1;
      }

      img {
        height: 36px;
      }

      nav {
        ul {
          list-style: none;
        }
        & > ul {
          display: flex;
          flex-flow: row nowrap;

          & > li {
            text-align: center;
            padding: 0 35px;
            ul {
              position: absolute;
              padding: 0;
              li {
                visibility: hidden;
                background-color: $lightGrey-color;
                pad: 5px;
                border-radius: 1px;
              }
            }
            &:hover {
              ul {
                li {
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    header {
      div {
        max-width: 1126px;
        margin: 0px auto;
        position: relative;
        text-align: center;
        a {
          &:hover {
            color: white;
          }
          background: url(../Content/images/icons.png) no-repeat 0 -128px;
          position: absolute;
          color: $white-color;
          font-size: 24px;
          padding: 52px 0 0;
          height: 99px;
          width: 156px;
          bottom: 50px;
          right: 100px;
        }
      }
    }
  }
  footer {
    & > div {
      @extend %contain;
    }
  }
}

a {
  text-decoration: none;
  color: $darkGrey-color;
  &:hover {
    color: $kiwi-color;
  }

  &.active {
    color: $magenta-color;
  }
}

header {
  h1 {
    color: $white-color;
    font-family: $mainHeading-font;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 28px 0 23px;
    text-align: center;
    text-transform: uppercase;
  }
}

article {
  & > div {
    @extend %contain;

    display: flex;
    flex-flow: row nowrap;

    & > div {
      max-width: 560px;
      padding-left: 40px;
    }
  }
  background-color: $lightGrey-color;
  h1 {
    color: $darkGrey-color;
    font-size: 18px;
    font-family: $mainArticleH1-font;
    padding: 47px 0 18px;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    font-weight: normal;
    display: block;
  }

  h2 {
    font-family: $mainArticleH2-font;
    color: $magenta-color;
    display: block;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 26px;
    text-align: left;
  }
}
