@import "./base/master.scss";
@import "./vendor/master.scss";
@import "./components/master.scss";
@import "./layout/master.scss";
@import "./pages/master.scss";

/*.contained {
  max-width: 960px;
  margin: 0px auto;
}*/

.xCentered {
  text-align: center;
}

.grey-background {
  background: $lightGrey-color;
}

img {
  vertical-align: middle;
}

h1 {
    font-weight: normal;
}

.container {
  /*@extend .contained;*/

  h1 {
    color: $white-color;
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
  }
}
.aboutBody {
    padding: 40px 0 110px;
}

.aboutMain {
    display: flex;
    flex-flow: row wrap;

    h1 {
        color: $magenta-color;
        font-family: $mainHeading-font;
        font-size: 24px;
        padding: 0 0 27px;
        text-transform: uppercase;
        text-align: left;
        margin: 0 auto 0 auto;
    }

    p {
        padding: 0 0 24px;
    }

    main {
        max-width: 560px;
        padding: 0 0 0 30px;
    }

    & > aside {
        padding: 36px 0 34px;
        line-height: 48px;
        width: 280px;
        background-color: $lightGrey-color;
        text-align: center;

        p {
            width: 169px;
            margin: 0 auto;
        }

        & > h1 {
            text-align: center;
            width: 205px;
        }
    }
}

/*p, div {
    color: $darkGrey-color;
}*/

footer {

  & > div {
    background-color: $magenta-color;

    & > div {
      padding: 59px 0 13px;

      .social {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }
      text-align: center;
      p {
        padding: 33px 0 50px;
        color: $white-color;
      }
    }

    a {
      background: url(/Content/images/icons.png) no-repeat;
      height: 30px;
      margin: 0 15px;
      padding: 0;
      width: 30px;

      &.facebook {
        background-position: 0 0;
      }
      &.googleplus {
        background-position: 0 -32px;
      }
      &.pinterest {
        background-position: 0 -64px;
      }
      &.twitter {
        background-position: 0 -96px;
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;

  background-color: #f8f8f8;
}


a {
  text-decoration: none;
  color: $darkGrey-color;
  &:hover {
    color: $kiwi-color;
  }

  &.active {
    color: $magenta-color;
  }
}

header {
  h1 {
    color: $white-color;
    font-family: $mainHeading-font;
    font-size: 30px;    
    margin: 0;
    padding: 28px 0 23px;
    text-align: center;
    text-transform: uppercase;
  }
}

article {
  background-color: $lightGrey-color;

  & > div {
    /*@extend .contained;*/

    display: flex;
    flex-flow: row nowrap;

    & > div {
      max-width: 560px;
      padding-left: 40px;
    }
  }

  h1 {
    color: $darkGrey-color;
    font-size: 18px;
    font-family: $mainArticleH1-font;
    padding: 47px 0 18px;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    font-weight: normal;
    display: block;
  }

  h2 {
    font-family: $mainArticleH2-font;
    color: $magenta-color;
    display: block;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 26px;
    text-align: left;
  }
}
