body {
  header {
    & .container {
      margin: 0px auto;
      
      display: flex;
      flex-flow: row nowrap;
      max-width: 960px;

      .spacer {
        flex-grow: 1;
      }

      nav {
        ul {
          display: flex;
          flex-flow: row nowrap;
          list-style: none;

          li {
            margin: 0 10px;
          }
        }
      }
    }
  }
  main {
  }
}
