body header .container {
  margin: 0px auto;
  display: flex;
  flex-flow: row nowrap;
  max-width: 960px; }
  body header .container .spacer {
    flex-grow: 1; }
  body header .container nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none; }
    body header .container nav ul li {
      margin: 0 10px; }
