@{
    ViewBag.Title = "Home Page";
}

<main>
    <header>
        <div>
            <img src="~/Content/images/bg-home.jpg" alt="" />
            <a href="#">FREEZE DELIGHT</a>
        </div>
    </header>
    <article>
        <div>
            <div>
                <h1>NEW PRODUCT</h1>
                <h2>The Twist Of Healthy Yoghurt</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel
                    sapien. Integer vulputate sem a nibh rutrum consequat. Nullam eget
                    nisl. Fusce
                </p>
            </div>
            <img src="~/Content/images/yogurt.jpg" alt="" />
        </div>
    </article>
</main>