@{
    ViewBag.Title = "Home Page";
}

<main class="body">
    <header>
        <div class="homeHeaderPicture">
            <img src="~/Content/images/bg-home.jpg" alt="" />
            <a href="#">FREEZE DELIGHT</a>
        </div>
    </header>
    <div class="body__block">
        <img src="~/Content/images/bg-home.jpg" alt="" />
        <a href="#">FREEZE DELIGHT</a>
    </div>B
    <article>
        <div>
            <div>
                <h1>NEW PRODUCT</h1>
                <h2>The Twist Of Healthy Yoghurt</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel
                    sapien. Integer vulputate sem a nibh rutrum consequat. Nullam eget
                    nisl. Fusce
                </p>
            </div>
            <img src="~/Content/images/yogurt.jpg" alt="" />
        </div>
    </article>
</main>
<div class="homeFooter">
    <div>
        <div class="container">
            <ul>
                <li>
                    <a class="product" href="#"></a>
                    <h1>Products</h1>
                </li>
                <li>
                    <a class="about" href="#"></a>
                    <h1>Our Story</h1>
                </li>
                <li>
                    <a class="flavour" href="#"></a>
                    <h1>Flavours</h1>
                </li>
                <li>
                    <a class="contact" href="#"></a>
                    <h1>Our Location</h1>
                </li>
            </ul>
        </div>
    </div>
</div>